DJANGO_SECRET_KEY=cambia-esto
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=America/Santiago

POSTGRES_DB=ecommerce_ops
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=cambia-esto
POSTGRES_HOST=db
POSTGRES_PORT=5432
